header {
    background-color: #00796b;
}

main {
    max-width: 800px;
}

h2 {
    color: #00796b;
}

.awaiting-story {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 20px;
}

.awaiting-story-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-date {
    font-size: 12px;
    color: #888;
}

.approve {
    background-color: #00796b;
}

.approve:hover {
    background-color: #005c4f;
}

.reject {
    background-color: #800020; /* Малиново-красный */
}

.reject:hover {
    background-color: #660018; /* Темнее малиновый */
}


.exit-button {
    position: absolute;
    right: 20px;
    background-color: #FFFFFF;
    color: #00796b;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 70px;
    text-align: center;
}


.exit-button:hover {
    background-color: #f0f0f0;
}

.exit-button-form {
    position: absolute;
    right: 20px;
}

.exit-button {
    position: static;
}

.add-button {
    color: #00796b;
}

.submit-button {
    background-color: #00796b;
}
.submit-button:hover {
    background-color: #005c4f;
}

input[type="text"]:focus, textarea:focus, input[type="password"]:focus {
    outline: none;
    border-color: #00796b;
}