main {
    max-width: 500px;
    margin: 50px auto;
}

form {
    align-items: center; /* Выравнивание по горизонтали */
    justify-content: center; /* Выравнивание по вертикали */
    width: 100%; /* Для обеспечения того, что форма будет занимать всю ширину */
}

input[type="text"], input[type="password"] {
    width: 95%; /* Ширина полей ввода относительно родителя */
    max-width: 500px; /* Максимальная ширина полей ввода */
}

.submit-button {
    width: 95%;
}
